@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1EFE7;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-top: 10px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 24px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.header div {
    text-align: center;
}


.logo-container {
    text-align: center;
}

.logo-image {
    max-width: 300px;
    height: auto;
}

.button {
    margin: 5px 10px 5px;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: #F1EFE7;
    color: black;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    transition: border-color 0.3s ease;
    width: 153px;
    height: 42px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.buttonMid {
    margin: 5px 10px 5px;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: #F1EFE7;
    color: black;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    transition: border-color 0.3s ease;
    width: 153px;
    height: 42px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.buttonImg {
    margin: 5px 10px 5px;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #F1EFE7;
    color: #F1EFE7;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    transition: border-color 0.3s ease;
    width: 153px;
    height: 42px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.buttonImg:hover {
    background-color: #F1EFE7;
    color: black;
}

.button:hover {
    background-color: black;
    color: #F1EFE7;
}

.buttonMid:hover {
    background-color: black;
    color: #F1EFE7;
}




.section {
    height: auto;
    padding-top: 30px;
    text-align: center;
}

.section h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 35px;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

.servicesTitle {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
}


.homeContent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.home {
    height: auto;
}


.buttonSlide {
    margin: 5px 10px 5px;
    display: inline-block;
    padding: 2px 15px;
    border: 2px solid #F1EFE7;
    background-color: transparent;
    color: #F1EFE7;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    transition: border-color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.buttonSlide:hover {
    background-color: black;
    color: #F1EFE7;
}

.footer {
    padding: 20px;
    text-align: center;
    color: #F1EFE7;
    background-color: black;
}

hr {
    border: none;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.325);
    width: 80%;
}

.Hrcontainer {
    display: flex;
    justify-content: center;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 80px;
    margin-bottom: 30px;
}

.serviceItem {
    width: 50%;
    /* Adjust the width as needed */
}

.serviceItem p {
    padding: 0 30px;
    font-size: 16PX;
    color: rgb(50, 50, 50);
}

.serviceItem img {
    width: 80%;
    min-width: 250;
}

.hamburger-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.menu-button span {
    display: block;
    height: 3px;
    width: 100%;
    background: #000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: background 0.2s ease-out;
}

.menu-button span:nth-child(1) {
    top: 10%;
}

.menu-button span:nth-child(3) {
    top: 90%;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F1EFE7;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 999;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.menu ul li {
    margin-bottom: 20px;
}

.menu ul li a {
    transition: color 0.2s ease-out;
    color: black;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu ul li a:hover {
    color: #888;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~.menu {
    transform: translateX(0%);
}

#menu-toggle:checked~.menu-button span {
    background: transparent;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}


.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.homeImageDesktop {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.homeImageMobile {
    position: relative;
    max-width: 0;
    overflow: hidden;
}

.image {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.text {
    position: absolute;
    font-family: 'Noto Sans', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #F1EFE7;
    font-weight: 300;
    font-size: 35px;
    padding: 30px 100px;
}

.text .important {
    font-weight: 500;
}

.image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}

.image-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Noto Sans', sans-serif;
}

input,
select {
    width: 40%;
    margin-top: 10px;
    height: 40px;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    background-color: #F1EFE7;
    border: 1.5px solid rgba(0, 0, 0, 0.332);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.thankYou {
    width: 100%;
    height: 60vh;
    text-align: center;
}

.thankYou h1 {
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 30px;
}

.thankYou h2 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
    margin: 0px 20px;
}


/* NOT ON DESKTOP */
@media (max-width: 825px) {
    .button {
        display: none;
    }

    .serviceItem {
        width: 100%;
        /* Adjust the width as needed */
    }

    .hamburger-menu {
        height: 50px;
    }

    .menu-button {
        width: 30px;
        height: 30px;
    }

    .text {
        font-size: 20px;
    }

}

@media (max-width: 640px) {
    .homeImageDesktop {
        width: 0;
    }

    .homeImageMobile {
        max-width: 100%;
    }

    .image {
        display: block;
        width: 90%;
        height: auto;
        margin: 0 auto;

        text-align: center;
    }
}


@media (max-width: 620px) {
    .buttonSlide {
        font-size: 10px;
    }

    input,
    select {
        width: 90%;
    }

}

@media (max-width: 490px) {

    /* PHONE */
    .section h2 {
        font-size: 25px;
    }

    .buttonSlide {
        padding: 0px 30px;
        font-size: 20px;
    }

    .serviceItem img {
        margin-bottom: 30px;
    }

    .serviceItem p {
        padding: 0 0;
        font-size: 16PX;
        color: rgb(50, 50, 50);
    }

    .service-container {
        padding: 10px 20px;
    }

    .image-gallery {
        width: 100%;
    }

}